.gameZone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.gameDevice {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  color: yellow;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
}

.score {
  color: blue;
  font-size: larger;
}
