.middleButton {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  padding: 0;
  border: 0;
  font-size: x-large;
}
